html, body {
	height: 100%;
}

.btn {
	padding: 0px;
	margin: 7px;
	width: 50px;
	height: 40px;
	text-align: center;
	user-select: none;
}

.btn:hover {
	background-color: #665e60;
	color: white;
}

.btn-default {
	background-color: black;
	color: white;
	border-color: grey;
}

.btn-clear {
	background-color: #fe5a00;
}

.container-fluid {
	background-color: #DCDCDC;
	height: 100%;
	padding-left: 5%;
	padding-top: 5%;
}

.row {
	margin-left: 10px;
	margin-right: 10px;
}

.top-row {
	padding-top: 10px;
}

.bottom-row {
	padding-bottom: 10px;
}

#plus {
	height: 94px;
	margin-bottom: 7px;
	margin-top: -47px;
	padding: 0;
	vertical-align: bottom;
}

#calculator-body {
	width: 290px;

	padding-top: 7px;
	

	border-radius: 5px;
	background-color: #e6b65d;

	border-color: #d3a351;
	border-style: solid;
	border-width: 1px;
}

#display {
	height: 50px;
	width: 255px;
	background-color: #d0e6b5;
	
	border-color: #b58d46;
	border-style: solid;
	border-width: 2px;
	border-left-width: 3px;
	border-top-width: 1px;
	border-right-width: 1px;

	font-size: 28px;
	font-family: "Source Code Pro";
	
	margin-left: 16px;
	margin-top: 16px;
	margin-bottom: 0px;
	margin-top: 16px;

	text-align: right;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-top: 7px;
	

	border-radius: 5px;
}

#measure {
	display: none;
}

#footer {
	position: fixed;
	width: 100%;
	height: 30px;
	text-align: left;
	padding-left: 20px;
	margin-left: 0px;
    bottom: 0;
	background-color: rgba(10, 10, 10, 0.65);
	color: white;
	
}


